h1
{
    text-align: center;
    font-family: "Arial";
    color: blue;
}
p
{
    font-family: 'Times New Roman';
}
.caja { 
    font-family: sans-serif; 
    font-size: 18px; 
    font-weight: 400; 
    color: #ffffff; 
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightblue; }
